<div class="container-fluid">
    <div class="col-lg-12 main">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Last Ride
                </div>
                <div class="panel-body">
                    <div id="mapid" style="height:200px;"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12" style="margin-top: 0%;">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Ride History
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped" style="margin-bottom: 0px; text-align:center;">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">Date Time</th>
                                    <th style="text-align:center;">Stop Count</th>
                                    <th style="text-align:center;">Package Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>June 01 2017 - 12:10PM</td>
                                    <td>15</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>June 02 2017 - 12:10PM</td>
                                    <td>11</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>June 09 2017 - 12:10PM</td>
                                    <td>22</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>June 20 2017 - 12:10PM</td>
                                    <td>30</td>
                                    <td>22</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Ratings
                    </div>
                    <div class="panel-body">
                        <canvas id="myChart" height="185"></canvas>
                    </div>
                </div>
            </div>
        </div>        

    </div>
</div>